@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    background-color: #282a3b;
    font-family: Arial;
}

.column-color {
    background-color: #1a1b25;
}

.column-light-color {
    background-color: #313447;
}

.light-color {
    color: #b1b5db
}

/*color: #898fab*/